html, body { 
    width: 100%;
    overflow: hidden;
}

#vidas .vida {
    width: 16px;
    height: 15px;
    display: block;
    float: left;
    background-image: url('../images/interface/heart.png');
    background-repeat: no-repeat;
}

#vidas .off {
    background-position: -16px 0px;
}

#palco {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

#palco #obstaculos {
    position: absolute;
    bottom: 100%;
}

#palco #obstaculos .linha {
    width: 100%;
    float: left;
    margin-bottom: 550px;
}

#palco #obstaculos .linha .object, #palco #obstaculos .linha .crash {
    float: left;    
}

#palco #obstaculos .linha .crash {
    background-image: url('../images/obstacles/crashed.jpg');
    background-size: 100% 100%;
}

#palco #obstaculos .linha .crash img {
    visibility: hidden;
}

#airplane {
    position: absolute;
    width: 150px;
    height: 150px;
    display: block;
    bottom: 5px;
    left: 50%;
    margin-left: -75px;
    z-index: 9;
    background-image: url('../images/airplanes/airplane-p40.png');
    background-repeat: no-repeat;
}

#airplane .reto {
    background-position: 0px 0px;
}

#objects {
    position: absolute;
    top: -1000%;
    opacity: 0;
}

#objects img {
    float: left;
}